#center{
text-align: center;
margin-top: 250px;
}
button{
  background-color:  #144947;
  color: #fff;
  width: 80px;
  height: 50px;
  font-size: 20px;
}
p{
  font-size:30px ;
  color: #144947;
}
span{
  margin-left: 20px;
}